@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&family=Hanuman:wght@300;400;700&family=Julee&family=Koulen&family=Roboto+Condensed:wght@400;700&family=Roboto+Mono&family=Roboto+Slab&family=Roboto:wght@300;400;700&family=Rubik:wght@500&family=Shantell+Sans:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.content{
    width: 40%;
    height: 80%;
    background-color: #fff;
    margin:10px  auto;
    text-align: center;
    padding-top: 10px;
    border: 3px solid #000;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.26);
}
.content .icon{
    font-size: 80px;
}
.content h1{
    font-size: 50px;
    font-family: 'Julee', cursive;
}
.content button{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0081C9;
    border: 0;
    border-radius: 5px;
    font-family: 'Julee', cursive;
    cursor: pointer;
}
.content .result-box{
    width: 70%;
    height: 43%;
    background-color: #E9E8E8;
    margin: 30px auto;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    overflow: hidden;
}
.content .result-box .loading{
    padding-top: 4px;
    font-weight: bold;
}
.content .result-box .title{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 13px;
    padding-bottom: 8px;
}
.content .result-box .data{
    padding: 10px 20px;
}
.content .result-box .data{
    /* padding: 13px 0px; */
    display: flex;
    flex-wrap: wrap;
    
}
.icon1{
    width: 100%;
    /* height: auto; */
    padding: 5px 0px;
    display: inline-flex;
    margin: 3px 0;
    font-size: 17px;
}
.icon1:nth-child(4){
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis  
}
.icon1 p{
   float: right;
}
.icon1{
    display: flex;
    align-items: center;
}
.icon1 i{
    padding-right: 8px;
    color: #362FD9;
}
.data .icon1 svg{
    width: 28px;
    height: 28px;
    padding-right: 8px;
    color: #362FD9;
}
.data p{
    font-family: 'Roboto', sans-serif;
}
.loading{
    padding-top: 100px;
    width: 70%;
    height: 43%;
    background-color: #E9E8E8;
    margin: 30px auto;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    font-family: 'Roboto', sans-serif;
}
